body{
    background:#fcffb8;
    font-family: Arial;
    font-weight: 900;
}
snap{
    color: red
}

.a{
    height: 50px;
    width: 50px;
    background: #ffce00;
    border-radius: 50%;
    text-align: center;
    font-size: 23px;
    font-family: Arial;
    font-weight: 900;
    color: #000
}
.b{
    height: 50px;
    width: 50px;
    background: #ff0000;
    border-radius: 50%;
    text-align: center;
    font-size: 23px;
    font-family: Arial;
    font-weight: 900;
    color: #ffffff
}